.About #container {
    min-height: 90vh;
    padding: 0px !important;
    margin: 0px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
}

.About h3 {
    text-align: center;
}


.About #content-div {
    margin: auto auto;
}

