#signup__container {
    min-height: 100vh;
}

#signup__bg__green {
    background-color: #ffc48c;
}

.signup__minheight__100 {
    min-height: 100vh;
}

.signup__link {
    color: blue;
}

.signup__link:hover {
    cursor: pointer;
}